extends layout

block content
  div.jumbotron IMDB Dead Or Alive
  form(name="findCast", method="get", action="actors")
          div.input
              div
                p Search by IMDB ID
                p (you can find this in the URL after "title" part e.g for a film with URL of http://www.imdb.com/title/tt0084987, the ID is tt0084987)
                p if the film has a lot of actors in it (e.g. a long running series) this may take some time to ascertain whether the full cast are dead or alive.
              div.input-group
                input.form-control(type="text", name="imdbId", placeholder="IMDB film or TV Show ID")
                span.input-group-btn
                    input(type="submit" value="submit" class="btn btn-info")
